.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 0 100px;
    background-color: black;
}
.about_text{
    text-align: center;
    font-size: 25px;
    user-select: none;
    color: #fff;  
    padding: 24px;
    span{
        display: inline-block;
        cursor: pointer;
        &.active{
            opacity: 0;
            filter: blur(20px);
            transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
            transition: 1s linear;
        }
    }
}
.btn_return{
    font-size: 16px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #fff;
    transition: .4s ease-in-out;
    &:hover{
        background-color: #fff;
        color: black;
    }
}
.wrapper_logo{
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
    span{
        display: inline-block;
        overflow: hidden;
        transition: all 0.3s ease-out;
        color: #616e7e;
        color: #fff;
        font-size: 44px;
        &:nth-child(even){
            color: #81bfaa;
            letter-spacing: -40px;
            font-size: 34px; 
        } 
    }
    &:hover span:nth-child(even){
        letter-spacing: 0px;
        font-size: 34px; 
    } 
}

.btn_back{
    color: #616e7e;
    margin-top: 26px;
}


@media (max-width:900px){
    .wrapper{
        padding: 0 5%;
    }
    .about_text{
        font-size: 16px;
        line-height: 1.4;
    }
    .wrapper_logo span{
        font-size: 35px;
    }
}
@media (max-width:500px){
    .about_text{
        text-align: left;
        font-size: 13px;
    }
}


