*{
    margin: 0;
    padding: 0;
}
body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  overflow-anchor: none;
  // background-color: rgba(14, 14, 14, 0.644);
}
li{
  list-style: none;
}
a{
    text-decoration: none;
}
@import "./header";
@import "./inner";
@import "./product";
@import "./other";
@import "./footer";
@import "./cart";
@import "./about";
@import "./description";

  