.descript_flex {
    display: flex;
    margin-top: 56px;
    justify-content: center;
    .product_title {
        font-size: 32px;
        font-family: 'History Pro';
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0.02em;
    }
    
}

.ds{
    margin-bottom: 46px ;
    margin-top: 76px ;
    text-align: left ;
}

.descript_imgs {
    img{
        height: auto;
        width: 116px;
        background-size:cover; 
        cursor: pointer;
        border: 2px solid transparent;
        transition: ease .4s;
        &.active{
            border: 2px solid black;
        }
        &:hover{
            border: 2px solid black;
        }
    }
    gap: 16px;
    display: flex;
    margin-right: 16px;
    flex-direction: column;
}
.chapter_img {
    margin-right: 120px;
    img{
        height: auto;
        width: 572px;
        background-size:cover; 
    }
}

.descript_right_chapter {
    max-width: 392px;
    .product_price {
        margin-bottom: 32px;
        font-family: 'Apercu Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
       
        &::after{
            content: '€169,00';
            font-family: 'Apercu Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #A7A7A7;
            padding-left: 8px;
            text-decoration: line-through;
        }
    }
    span{
        font-family: 'Apercu Pro';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        display: block;
        padding-bottom: 24px;
    }
    .product_price{
        padding-bottom: 0px;
    }
}
.descript_right {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap:12px;
    margin-bottom: 12px;
    .favorite_btn {
        position: unset;
        height: 56px;
        width: 56px;  
        border:none;    
        margin-left: 12px;
    }
    .Buy {
        flex: 1 1 0;
    }
}


.descript_span {
    border-bottom: 1px solid #E8E8E8;
    display: block;
}

.characteristics__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

}
.characteristics__item {
}
.characteristics__title {
    font-family: 'Apercu Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #111113;
    text-align: left;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    background-color: transparent;
    padding:24px 0 ;
    position: relative;   
    cursor: pointer; 
   
    &::after{
        content: '+';
        position: absolute;
        right:  5px;
    }
    &.active:after {
        content: '-';
    }
}

.characteristics__description {
    // height: 0;
    // display: none;
    
    font-family: 'Apercu Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111113;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    height: 0;
    &.active{
        height: auto;
        // padding: 24px 0;
        border-bottom: 1px solid #E8E8E8;  
    }
}
.characteristics__list-description{
    padding: 24px 0;
}

.card_debut{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.products_flex_itemTwo{
    margin-bottom: 128px;
    column-gap: 30px;
}

.descript_flex_box{
    display: flex;
}

@media (max-width:1280px){
    .chapter_img{
        margin-right: 40px;
        img{
            width: 430px;
        }
    }
    .card_debut{
        flex: 1 1 0;
    }
    .descript_right_chapter {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
    }
}

@media (max-width:990px){
    .descript_flex {
        .product_title {
            font-size: 24px;
            margin: 0;
            line-height: 36px;
        }
        
    }
    .chapter_img{
        margin-right: 24px;
        img{
            width: 350px;
        }
    }

    .characteristics__description{
        font-size: 14px;
    }

    .descript_right_chapter{
        .product_price{
            margin: 0;
        }
    }

    .card_debut{
        display: none;
    }

    .descript_right{
        .buy {
            font-size: 14px;
        }
    }
}

@media (max-width:770px){
    .card_debut{
        display: flex;
        img{
            width: 20%;
            height: auto;
        }
    }
    .descript_flex{
        flex-direction: column;
        margin-top: 32px;
    }

    .descript_flex_box{
        flex-direction: column-reverse;
    }

    .descript_right_chapter{
        max-width: 100%;
    }
    .descript_imgs{
        flex-direction: row;
    }

    .descript_imgs{
        margin: 16px 0;
        img{
            width: 144px;
        }
    }

    .chapter_img{
        margin: 0;
        img{
           width: 100%;
        }
    }
    .ds{
        margin-top: 54px;
    }
}

@media (max-width:500px){
    .descript_flex{
        margin: 0;
    }

    .descript_flex_box{
        margin: 0 -15px;
    }

    .descript_imgs{
        img{
            width: 120px;
        }
    }

    .products_flex_itemTwo{
        margin-bottom: 64px;
        .product:last-child{
            display: none;
        }
    }
}