.gifts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 40px;
    .gift_item {
        display: flex;
        align-items: flex-start;
        .gift_img {
            margin-right: 35px;
        }
        .gift_cop {
            font-family: Apercu Pro;
            font-style: normal;
            font-feature-settings: 'salt' on, 'ss01' on;
            color: #111113;
            font-weight: bold;
            line-height: 20px;
            font-size: 14px;
            letter-spacing: 0.01em;
            .gift_title {
                font-size: 16px;
                line-height: 22px;
                text-transform: uppercase;  
            }
            .gift_text {       
                font-weight: normal;           
                color: #666666;
                margin-top: 8px;
                margin-bottom: 2px;
            }
            .gift_link { 
                color: #111113;
            }
        }
    }
}

@media (max-width:770px){
    .gifts{
        flex-direction: column;
        row-gap: 40px;
        margin-top: 70px;
    }
}

@media (max-width:500px){   
    .gifts .gift_item {
        .gift_img{
            margin-right: 25px;
        }
        .gift_cop {
            .gift_title{       
                font-size: 13px;               
            }
            .gift_text {
                margin-top: 5px;
                font-size: 12px;
            }
        }
    }
}


